*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	margin-block-end: 0;
	margin-block-start: 0;
}

html{
	font-size: 62.5%;
}

body{
	box-sizing: border-box;
	background-color: #8243E0;
	 background: url("../../../images/background.png") no-repeat fixed center;
	 background-size: cover;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: black;
}

img{
	display: block;
	width: 100%;
}

a{
	text-decoration: none;
	color: black;
}
ul{
	list-style-type: none;
}
